<h1>FAQ</h1>
<ul> 
    <li>Q: What are your support hours?</li>
    <li>A: Yes! We offer a free trail for 30 days on any paid plans.</li><br>
    <li>Q: What are your support hours?</li>
    <li>A: We have support staff answering emails 24/7, though reponse times may be a bit slower on weekends.</li><br>
    <li>Q: How do I contact support?</li>
    <li>A: Email us - <a href="mailto:support@lenslocked.com">support@lenslocked.com</a></li>
</ul>